*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.2;
  margin: 0;
  position: relative;
  z-index: 10;
}

.container {
  max-width: 1000px;
}

/* ----------SASS extended properties-------*/
.spinner-body, .footer, .operation-items, header {
  display: flex;
  justify-content: center;
}

.restaurant, .operation, .information-wrapper, header {
  margin-right: auto;
  margin-left: auto;
}

/* ----------Header-------*/
header {
  padding: 1em 2em;
}
header img {
  max-width: 200px;
}

/* ---------- Localisation ---------- */
.localisation-and-presentation {
  max-width: 100%;
}

.localisation {
  max-width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0.5em;
  background-color: #f2f2f2;
  box-shadow: inset 0px 11px 8px -10px #ccc;
}
.localisation i {
  margin-right: 0.25em;
}

form input {
  padding: 0.5em 1em;
  border: none;
  outline: none;
  font-size: 1.05rem;
  font-weight: 700;
  background-color: #fff;
  background-color: inherit;
  max-width: 200px;
}
form input::placeholder {
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #f2f2f2 inset !important;
  -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset !important;
}

/* ---------- Information ---------- */
.info {
  text-align: center;
  padding: 60px 40px;
  background-color: #fafafa;
}
.info h2 {
  font-size: 1.5rem;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0;
}
.info p {
  margin-bottom: 30px;
}
.info a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  padding: 1em 1.5em;
  border-radius: 50px;
  letter-spacing: 0.5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.info a:hover {
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.85), rgba(147, 86, 220, 0.85));
  box-shadow: rgba(0, 0, 0, 0.55) 0px 7px 17px;
}

/* ---------- Operation ---------- */
.operation-wrapper {
  padding: 20px;
}

.operation-items {
  align-items: center;
  flex-direction: column;
}

.operation-item {
  width: 300px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 30px;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 1.5em;
}
.operation-item i {
  color: #a6a6a6;
  margin-right: 30px;
}
.operation-item .icon-purple-color {
  color: #9356dc;
}
.operation-item.background-purple-color {
  background-color: #f2eafb;
}
.operation-item p {
  position: absolute;
  left: -10px;
  top: 10px;
  background-color: #9356dc;
  color: #fff;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 0.75rem;
}

/* ---------- card restaurant ---------- */
.restaurant {
  padding: 20px;
  background-color: #fafafa;
}

.all-cards-restaurant {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-restaurant {
  max-width: 330px;
  max-height: 250px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 20px;
}
.card-restaurant a {
  text-decoration: none;
  color: inherit;
}

.card-restaurant-img {
  height: 70%;
  overflow: hidden;
  position: relative;
}
.card-restaurant-img p {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  padding: 6px 10px;
  font-size: 0.75rem;
  color: #2c9c81;
  border-radius: 2px;
  font-weight: 700;
  letter-spacing: 0.25px;
  margin: 0;
}
.card-restaurant-img img {
  width: 100%;
  height: 100%;
  min-height: 232px;
  object-fit: cover;
  object-position: center -50px;
}
.card-restaurant-img .note-enchantee {
  object-position: center -145px;
}

.card-restaurant-body {
  height: 30%;
  padding: 10px;
  position: relative;
}
.card-restaurant-body h4 {
  margin: 5px 0;
}
.card-restaurant-body p {
  margin: 0;
}
.card-restaurant-body .heart i {
  position: absolute;
  top: 35px;
  right: 25px;
}
.card-restaurant-body .heart .empty-heart {
  color: black;
  transition: color 1s linear;
}
.card-restaurant-body .heart .empty-heart:hover {
  color: transparent;
}
.card-restaurant-body .heart .full-heart {
  color: transparent;
  transition: color 1s linear;
}
.card-restaurant-body .heart .full-heart:hover {
  color: #9356dc;
}

/* ---------- footer ---------- */
.footer-wrapper {
  width: 100%;
  padding: 20px;
  color: #fff;
  background-color: #3d3d3d;
}
.footer-wrapper h4 {
  margin-top: 0;
  font-family: Shrikhand, sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.footer-wrapper ul {
  padding-left: 0;
}
.footer-wrapper li {
  list-style: none;
  line-height: 1.6;
}
.footer-wrapper a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}
.footer-wrapper a i {
  margin-right: 10px;
}
.footer-wrapper a .fa-utensils {
  margin-right: 13px;
}

/* ---------- Media queries ---------- */
@media (min-width: 500px) {
  /* footer */
  .footer-wrapper ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-wrapper li {
    margin-right: 10px;
  }
}
/* spinner design */
.spinner-body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  align-items: center;
  z-index: -10;
}

.spinner {
  width: 350px;
  height: 350px;
  position: relative;
}
.spinner div {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: #9356dc;
  border-radius: 50%;
  animation: spinnerOne 1.5s linear 1;
}
.spinner div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: #9356dc;
  animation: spinnerTwo 1.5s linear 1;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
    opacity: 1;
    z-index: 100;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
    opacity: 1;
    z-index: 100;
  }
  75% {
    transform: rotate(270deg);
    border-width: 5px;
    opacity: 1;
    z-index: 100;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
    opacity: 0;
    z-index: -10;
  }
}
@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
    opacity: 1;
    z-index: 10;
  }
  50% {
    transform: rotate(180deg);
    border-width: 10px;
    opacity: 1;
    z-index: 10;
  }
  75% {
    transform: rotate(270deg);
    border-width: 5px;
    opacity: 1;
    z-index: 10;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
    opacity: 0;
    z-index: -10;
  }
}

/*# sourceMappingURL=style.css.map */
