*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.2;
  margin: 0;
  position: relative;
}

.container {
  max-width: 1000px;
}

.small-container {
  max-width: 700px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  padding: 16px 24px;
  border-radius: 50px;
  letter-spacing: 0.5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn:hover {
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.85), rgba(147, 86, 220, 0.85));
  box-shadow: rgba(0, 0, 0, 0.55) 0px 7px 17px;
}

.empty-heart {
  color: black;
  transition: all 0.5s linear;
  opacity: 1;
}
.empty-heart:hover {
  opacity: 0;
}

.full-heart {
  opacity: 0;
  transition: all 0.5s linear;
  background: -webkit-linear-gradient(90deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.full-heart:hover {
  opacity: 1;
}

/* spinner design */
.spinner-body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinnerBody 1.5s linear 1;
  animation-fill-mode: forwards;
}

.spinner {
  width: 350px;
  height: 350px;
  position: relative;
}
.spinner div {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: #9356dc;
  border-radius: 50%;
  animation: spinnerOne 1.5s linear 1;
}
.spinner div:nth-child(2) {
  border-bottom-color: #9356dc;
  animation: spinnerTwo 1.5s linear 1;
}

@keyframes spinnerBody {
  0% {
    z-index: 10;
  }
  50% {
    z-index: 10;
  }
  75% {
    z-index: 10;
  }
  100% {
    z-index: -10;
  }
}
@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
    opacity: 1;
  }
  75% {
    transform: rotate(270deg);
    border-width: 5px;
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
    opacity: 0;
  }
}
@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    border-width: 10px;
    opacity: 1;
  }
  75% {
    transform: rotate(270deg);
    border-width: 5px;
    opacity: 1;
    z-index: 10;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
    opacity: 0;
    z-index: -10;
  }
}
/* ----------Header-------*/
header {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  padding: 16px 32px;
  position: relative;
}
header img {
  max-width: 200px;
}

/* ---------- footer---------- */
.footer {
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  width: 100%;
  padding: 20px;
  color: #fff;
  background-color: #3d3d3d;
}
.footer-wrapper h4 {
  margin-top: 0;
  font-family: Shrikhand, sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.footer-wrapper ul {
  padding-left: 0;
}
.footer-wrapper li {
  list-style: none;
  line-height: 1.6;
}
.footer-wrapper a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}
.footer-wrapper a i {
  margin-right: 10px;
}
.footer-wrapper a .fa-utensils {
  margin-right: 13px;
}

/* ---------- Media queries ---------- */
@media (min-width: 500px) {
  .footer-wrapper ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-wrapper li {
    margin-right: 10px;
  }
}
/* ---------- Localisation (homepage)---------- */
.information-wrapper {
  margin-right: auto;
  margin-left: auto;
}

.localisation-and-presentation {
  max-width: 100%;
}

.localisation {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 8px;
  background-color: #f2f2f2;
  box-shadow: inset 0px 11px 8px -10px #ccc;
}
.localisation i {
  margin-right: 4px;
}

form input {
  padding: 8px 16px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  background-color: inherit;
  max-width: 200px;
}
form input::placeholder {
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #f2f2f2 inset !important;
  -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset !important;
}

/* ---------- Information (homepage)---------- */
.info {
  text-align: center;
  padding: 60px 40px;
  background-color: #fafafa;
}
.info h2 {
  font-size: 24px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 0;
}
.info p {
  margin-bottom: 30px;
}

/* ---------- Operation (homepage) ---------- */
.operation {
  margin-right: auto;
  margin-left: auto;
}

.operation-wrapper {
  padding: 20px;
}

.operation-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.operation-item {
  width: 300px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 30px;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 24px;
}
.operation-item i {
  color: #a6a6a6;
  margin-right: 30px;
}
.operation-item .icon-purple-color {
  color: #9356dc;
}
.operation-item.background-purple-color {
  background-color: #f2eafb;
}
.operation-item p {
  position: absolute;
  left: -10px;
  top: 10px;
  background-color: #9356dc;
  color: #fff;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 12px;
}

/* ---------- card restaurant (homepage) ---------- */
.restaurant {
  padding: 20px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fafafa;
}

.all-cards-restaurant {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.card-restaurant {
  max-width: 330px;
  max-height: 250px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-restaurant a {
  text-decoration: none;
  color: inherit;
}

.card-restaurant-img {
  height: 70%;
  overflow: hidden;
  position: relative;
}
.card-restaurant-img p {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  padding: 6px 10px;
  font-size: 12px;
  color: #2c9c81;
  border-radius: 2px;
  font-weight: 700;
  letter-spacing: 0.25px;
  margin: 0;
}
.card-restaurant-img img {
  width: 100%;
  height: 100%;
  min-height: 232px;
  object-fit: cover;
  object-position: center -50px;
}
.card-restaurant-img .note-enchantee {
  object-position: center -145px;
}

.card-restaurant-body {
  height: 30%;
  padding: 10px;
  position: relative;
}
.card-restaurant-body h4 {
  margin: 5px 0;
}
.card-restaurant-body p {
  margin: 0;
}
.card-restaurant-body .heart i {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 25px;
}

/* ---------- Restaurants header ---------- */
.header-restaurants a {
  text-decoration: none;
  color: initial;
}
.header-restaurants i {
  position: absolute;
  top: 35px;
  left: 20px;
}

/* ------- Restaurants page photo section ------- */
.photo {
  height: 290px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a6a6a6;
}
.photo.palette-du-gout {
  background-image: url("/images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.photo.note-enchantee {
  background-image: url("/images/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.photo.a-la-francaise {
  background-image: url("/images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.photo.delice-des-sens {
  background-image: url("/images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/* ---------- Restaurants page menu section ---------- */
.menu {
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: #fafafa;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: -50px;
}

.menu-title {
  position: relative;
}
.menu-title h2 {
  font-family: Shrikhand, sans-serif;
  letter-spacing: 0.25px;
  font-size: 28px;
  font-weight: 400;
}
.menu-title .heart {
  cursor: pointer;
}
.menu-title .heart i {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 28px;
}

.menu-description {
  margin-bottom: 50px;
}
.menu-description .dish-title-underline {
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  align-self: flex-start;
  margin-bottom: 30px;
}
.menu-description .dish-title-underline::before {
  content: " ";
  background: #99e2d0;
  position: absolute;
  width: 40px;
  height: 3px;
  top: 22px;
}

.menu-dish-card {
  opacity: 0;
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.menu-dish-card:hover .menu-dish-card-body {
  width: 80%;
}
.menu-dish-card:hover .menu-dish-checked-icon {
  right: 0;
}
.menu-dish-card:hover .menu-dish-checked-icon i {
  animation: icon-rotate 0.5s ease-in-out 0s;
}

.menu-dish-card-body {
  padding: 10px;
  position: relative;
  width: 100%;
  transition: width 0.4s linear 0s;
}
.menu-dish-card-body h3 {
  font-size: 17px;
  margin: 0;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-dish-card-body p {
  margin: 0;
}
.menu-dish-card-body .dish-description {
  padding-top: 5px;
  font-size: 14px;
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-dish-card-body .price {
  position: absolute;
  right: 15px;
  top: 35px;
}

.menu-dish-checked-icon {
  background-color: #99e2d0;
  width: 20%;
  height: 100%;
  position: absolute;
  right: -30%;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear 0s;
}
.menu-dish-checked-icon i {
  color: #fff;
}

.order {
  display: flex;
  justify-content: center;
}
.order .btn {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  margin-bottom: 70px;
}

/* dishes card animations*/
.appetizer .menu-dish-card {
  animation: appear 1s ease-out;
  animation-fill-mode: forwards;
}

.main-course .menu-dish-card {
  animation: appear 1s ease-out 0.5s;
  animation-fill-mode: forwards;
}

.dessert .menu-dish-card {
  animation: appear 1s ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes icon-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style.css.map */
