*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.2;
  margin: 0;
  position: relative;
}

.container {
  max-width: 1000px;
}

.small-container {
  max-width: 700px;
}
