// variables
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey-color: #f2f2f2;
$light-purple-color: lighten(#9356dc, 35%);
$light-grey-color: lighten(#f2f2f2, 3%);
$darker-grey-color: darken(#f2f2f2, 30%);
$darker-green-color: darken(#99e2d0, 35%);
